<?xml version="1.0"?>
<!-- FreeNAS default system configuration -->
<freenas>
	<version>2.0</version>
	<lastchange></lastchange>
	<system>
		<hostname>freenas</hostname>
		<domain>local</domain>
		<dnsserver></dnsserver>
		<ipv6dnsserver></ipv6dnsserver>
		<dnsallowoverride/>
		<username>admin</username>
		<password>$1$KLfrklGE$9mMLCl/tNeqZJzdCJw6Gb0</password>
		<timezone>Etc/UTC</timezone>
		<time-update-interval>300</time-update-interval>
		<timeservers>pool.ntp.org</timeservers>
		<language>English</language>
		<webgui>
			<protocol>http</protocol>
			<!--
			<port></port>
			<certificate></certificate>
			<private-key></private-key>
			<noassigninterfaces/>
			<expanddiags/>
			<noantilockout/>
			-->
		</webgui>
		<zeroconf/>
		<!-- <disableconsolemenu/> -->
		<!-- <disablefirmwarecheck/> -->
		<!-- <shellcmd></shellcmd> -->
		<!-- <earlyshellcmd></earlyshellcmd> -->
		<!-- <harddiskstandby></harddiskstandby> -->
		<!-- <disablebeep/> -->
		<!-- <tune/> -->
		<!-- <smart/> -->
		<!-- <powerd/> -->
		<!-- <swap_mountname></swap_mountname> -->
		<!-- <swap_size></swap_size> -->
		<!-- <swap_enable/> -->
	</system>
	<interfaces>
		<lan>
			<if>auto</if>
			<ipaddr>192.168.1.250</ipaddr>
			<subnet>24</subnet>
			<ipv6addr>auto</ipv6addr>
			<ipv6subnet>64</ipv6subnet>
			<media/>
			<mediaopt/>
			<!--
			<mtu>1500</mtu>
			<polling/>
			<wireless>
				*see below (opt[n])*
			</wireless>
			-->
		</lan>
		<!--
		<opt[n]>
			<enable/>
			<descr></descr>
			<if></if>
			<ipaddr></ipaddr>
			<subnet></subnet>
			<media></media>
			<mediaopt></mediaopt>
			<bridge>lan|wan|opt[n]</bridge>
			<wireless>
				<standard>11a|11b|11g</standard>
				<mode>hostap *or* bss *or* ibss</mode>
				<ssid></ssid>
				<channel></channel>
				<wep>
					<enable/>
					<key>
						<txkey/>
						<value></value>
					</key>
				</wep>
			</wireless>
		</opt[n]>
		-->
	</interfaces>
	<!--
	<vlans>
		<vlan>
			<tag></tag>
			<if></if>
			<descr></descr>
		</vlan>
	</vlans>
	-->
	<staticroutes>
		<!--
		<route>
			<interface>lan|opt[n]|pptp</interface>
			<network>xxx.xxx.xxx.xxx/xx</network>
			<gateway>xxx.xxx.xxx.xxx</gateway>
			<descr></descr>
		</route>
		-->
	</staticroutes>
	<disks>
		<!--
		<disk>
			<name>xxx</name>
			<fullname>/dev/xxx</fullname>
			<harddiskstandby>0</harddiskstandby>
			<acoustic>0</acoustic>
			<apm>0</apm>
			<udma>auto</udma>
			<type>IDE</type>
			<desc>xxx</desc>
			<size>xxxMB</size>
			<fstype>xxx</fstype>
		</disk>
		-->
	</disks>
	<gvinum>
		<!--
		<vdisk>
			<name>xxx</name>
			<type>0</type>
			<diskr>/dev/xxx</diskr>
			<diskr>/dev/xxx</diskr>
			<desc>xxx</desc>
			<fullname>/dev/xxx</fullname>
			<fstype>xxx</fstype>
		</vdisk>
		-->
	</gvinum>
	<gmirror>
		<!--
		<vdisk>
			...
		</vdisk>
		-->
	</gmirror>
	<gconcat>
		<!--
		<vdisk>
			...
		</vdisk>
		-->
	</gconcat>
	<gstripe>
		<!--
		<vdisk>
			...
		</vdisk>
		-->
	</gstripe>
	<graid5>
		<!--
		<vdisk>
			...
		</vdisk>
		-->
	</graid5>
	<geli>
		<!--
		<vdisk>
			...
		</vdisk>
		-->
	</geli>
	<mounts>
		<!--
		<mount>
			// Global attributes:
			<type>disk|iso</type>
			<desc>xxx</desc>
			<sharename>xxx</sharename>
			<fstype>xxx</fstype>
			// 'disk' attributes:
			<mdisk>/dev/xxx</mdisk>
			<partition>xxx</partition>
			<fullname>/dev/xxx</fullname>
			// 'iso' attributes:
			<filename>xxx</filename>
		</mount>
		-->
	</mounts>
	<samba>
		<!-- <enable/> -->
		<netbiosname>freenas</netbiosname>
		<workgroup>WORKGROUP</workgroup>
		<serverdesc>FreeNAS Server</serverdesc>
		<security>share</security>
		<localmaster>yes</localmaster>
		<rcvbuf>16384</rcvbuf>
		<sndbuf>16384</sndbuf>
		<!--
		// createmask and directorymask can be used to overwrite default values when security=share 
		<createmask>0666</createmask>
		<directorymask>0777</directorymask>
		-->
	</samba>
	<ftp>
	<!-- <enable/> -->
		<numberclients>5</numberclients>
		<maxconperip>2</maxconperip>
		<timeout>5</timeout>
		<port>21</port>
		<anonymous/>
		<localuser/>
		<pasv_max_port>0</pasv_max_port>
		<pasv_min_port>0</pasv_min_port>
		<pasv_address></pasv_address>
	</ftp>
	<afp>
		<!-- <enable/> -->
	</afp>
	<rsyncd>
		<!-- <enable/> -->
		<readonly>no</readonly>
		<port>873</port>
		<maxcon>0</maxcon>
	</rsyncd>
	<unison>
    <!--
		<enable/>
    <share>xxx</share>
    -->
    <workdir>.unison</workdir>
  	<makedir/>
	</unison>
	<upnp>
    <!--
		<enable/>
    <name/>
    <if/>
    <content/>
    <port/>
    <web/>
    -->
	</upnp>
  <sshd>
    <!-- <enable/> -->
    <port>22</port>
  </sshd>
	<nfs>
    <!-- <enable/> -->
	</nfs>
	<snmpd>
		<!-- <enable/> -->
		<syslocation></syslocation>
		<syscontact></syscontact>
		<rocommunity>public</rocommunity>
	</snmpd>
	<diag>
		<ipv6nat>
			<!-- <enable/> -->
			<ipaddr></ipaddr>
		</ipv6nat>
		<!-- <ipfstatentries></ipfstatentries> -->
	</diag>
	<syslog>
		<!--
		<reverse/>
		<enable/>
		<remoteserver>xxx.xxx.xxx.xxx</remoteserver>
		<system/>
		<nologdefaultblock/>
		<resolve/>
		-->
	</syslog>
	<access>
		<userid>1002</userid>
		<groupid>1002</groupid>
	</access>
	<dynamicdns>
		<!--
		<enable/>
		<provider></provider>
		<domainname></domainname>
		<username></username>
		<password></password>
		<updateperiod></updateperiod>
		<forcedupdateperiod></forcedupdateperiod>
		-->
	</dynamicdns>
	<packages>
		<!--
		<path>/mnt/Data/packages</path>
		<package>
			<filename>xxx.tbz</filename>
		</package>
		-->
	</packages>
</freenas>
