body, td, th, input, select {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
form {
	margin: 0px;
}
p {
	margin: 0 0 10px 0;
}
pre {
   border: 2px solid #435370;
   background: #F0F0F0;
   padding: 1em;
   font-family: courier new, courier;
   white-space: pre;
   line-height: 10pt;
   font-size: 10pt;
}
.pgtitle {
	font-size: 18px;
	color: #777777;
	font-weight: bold;
}
.pgheader, .pgfooter {
	background-color: #435370;
}
.pgheadertext {
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
}
.pgfootertext {
	font-size: 11px;
	color: #FFFFFF;
}
.pgnavbar {
	background-color: #9D9D9D;
}
.vncellbg, .vncell, .vncellreq, .vncellt {
	background-color: #DDDDDD;
	padding-right: 20px;
	padding-left: 8px;
}
.vncell, .vncellreq, .vncellt {
	border-bottom: 1px solid #999999;
}
.vncellreq, .vncellt {
	font-weight: bold;
}
.vncellt {
	padding-top: 4px;
	padding-bottom: 4px;
}
.formfld {
}
.formfldalias {
	background-color: #e7edf9;
}
.formpre {
	font-family: Courier New, Courier, monospaced;
	font-size: 10px;
}
.formbtn {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.formbtns {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.errmsg {
	font-weight: bold;
	color: #CC0000;
}
.red {
	color: #CC0000;
}
.gray {
	color: #A0A0A0;
}
.vexpl {
	font-size: 11px;
}
ul#navigation {
	color: #FFFFFF;
	background-color: #9D9D9D;
	font-size: 13px;
	padding-left: 0px;
	text-decoration: none;
}
ul#navigation h1 {
	color: #FFFFFF;
	font-size: 13px;
	margin: 0 0 0 0;
}
ul#navigation li {
	list-style: none;
	text-decoration: none;
}
ul#navigation li ul {
	margin: 0 0 0 1em;
	padding: 0;
	text-decoration: none;
}
ul#navigation a {
	color: #FFFFFF;
	text-decoration: none;
}
ul#navigation a:hover {
	color: #FFFFFF;
	background-color: gray;
	text-decoration: none;
}
a {
	text-decoration: none;
}
.tblnk {
	color: #FFFFFF;
	text-decoration: none;
}
.vtable {
	border-bottom: 1px solid #999999;
}
.hostname {
	font-size: 11px;
	color: #FFFFFF;
}
.listr {
	background-color: #FFFFFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listrpad {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-right: 16px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.listn, .listbg {
	font-size: 11px;
	padding-right: 16px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listbg {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color: #D9DEE8;
}
.listhdr, .listhdrr {
	background-color: #BBBBBB;
	padding-right: 16px;
	padding-left: 6px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.listhdrr {
	border-right: 1px solid #999999;
	vertical-align: top;
}
.listhdr a {
	color: #000000;
}
.listhdrr a {
	color: #000000;
}
.listlrns, .listlr {
	background-color: #FFFFFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listlr {
	padding-right: 6px;
	padding-left: 6px;
}
.list {
	font-size: 11px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.listt {
	font-size: 11px;
	padding-top: 5px;
}
.listhdrrns {
	background-color: #BBBBBB;
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 6px;
	font-weight: bold;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
}
.listbgns {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	background-color: #D9DEE8;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listtopic {
	border-right: 1px solid #999999;
	font-size: 11px;
	background-color: #435370;
	padding-right: 16px;
	padding-left: 6px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.optsect_t {
	border-right: 1px solid #999999;
	background-color: #435370;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.optsect_s {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.tabnavtbl {
}
ul#tabnav {
	font-size: 11px;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul#tabnav li.tabinact1 {
	float: left;
	background-color: #777777;
	color: #FFFFFF;
	padding: 0;
	white-space: nowrap;
}
ul#tabnav li.tabinact {
	float: left;
	border-left: 1px solid #999999;
	background-color: #777777;
	color: #FFFFFF;
	padding: 0;
	white-space: nowrap;
}
ul#tabnav li.tabinact a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 5px 8px 5px 8px;
	color: #FFFFFF;
}
ul#tabnav li.tabinact1 a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 5px 8px 5px 8px;
	color: #FFFFFF;
}
ul#tabnav li.tabact {
	float: left;
	background-color: #EEEEEE;
	color: #000000;
	padding: 5px 8px 5px 8px;
	white-space: nowrap;
}
.tabcont {
	background-color: #EEEEEE;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.label {
	font-family: tahoma, verdana, arial, helvetica;
	font-size: 11px;
	font-weight: bold;
}
