#navbarmenu {
	margin: 0;
	padding: 0 0 0 25px;
	line-height: 32px;
}
#navbarmenu li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
#navbarmenu li a {
	display: block;
	padding: 2px 11px;
	background: black url(/navbar_default.gif) center center repeat-x;
	text-align: center;
	text-decoration: none;
	color: white;
}
#navbarmenu li a:hover {
	background: transparent url(/navbar_active.gif) center center repeat-x;
	color: black;
}
#navbarmenu div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #000000;
	z-index: 100;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 205px;
	line-height: 12px;
}
#navbarmenu div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	text-indent: 5px;
	background: #000000;
	font-size: 11px;
	font-weight: normal;
	color: white;
}
#navbarmenu div a:hover {
	background: transparent url(/navbar_active.gif) center center repeat-x;
}
#navbarmenu div span.tabseparator {
	background: #AAAAAA;
	display: block;
	line-height: 1px;
	height: 1px;
}
