#navbarmenu {
	margin: 0;
	padding: 0;
	z-index: 30;
}
#navbarmenu li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
#navbarmenu li a {
	display: block;
	padding: 2px 11px;
	background: black url(/navbar_default.gif) center center repeat-x;
	text-align: center;
	text-decoration: none;
	color: white;
}
#navbarmenu li a:hover {
	background: transparent url(/navbar_active.gif) center center repeat-x;
}
#navbarmenu div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #000000;
	z-index: 100;
	border: 1px solid black;
	width: 205px;
}
#navbarmenu div a
{
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	text-indent: 5px;
	background: #000000;
	font-size: 11px;
	font-weight: normal;
}
#navbarmenu div a:hover {
	background: transparent url(/navbar_active.gif) center center repeat-x;
}
