/* tabs styles, based on http://www.alistapart.com/articles/slidingdoors */
td.tabnavtbl {
	float: left;
	width: 100%;
	padding: 0 0 0 0;
}
td.tabnavtbl ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
td.tabnavtbl li {
	display: inline;
}
td.tabnavtbl a {
	float: left;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
td.tabnavtbl a:hover {
}
td.tabnavtbl a:visited, td.tabnavtbl a:link {
	color: white;
}
td.tabnavtbl a:active, td.tabnavtbl a:hover {
	color: black;
}
td.tabnavtbl span {
	color: white;
	float: left;
	display: block;
	background: #FFFFFF url("navbar_default.gif") repeat-x scroll left top;
	padding: 6px 10px;
	white-space: nowrap;
	border: 1px solid #444444;
	margin-right: -1px;
}
td.tabnavtbl td {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
/* commented backslash hack hides rule from ie5-mac \*/
td.tabnavtbl span {
	float: none;
}
/* end ie5-mac hack */
td.tabnavtbl a:hover span {
	color: black;
	background: #FFFFFF url("navbar_active.gif") repeat-x scroll left top;
	border: 1px solid #DEDBD1;
}
td.tabnavtbl li.tabact a {
}
td.tabnavtbl li.tabact span {
	background: #FFFFFF url("navbar_active.gif") repeat-x scroll left top;
	color: black;
	border: 1px solid #DEDBD1;
}
