body, td, th, input, select {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
body {
	background: #F7F7F7;
	margin: 0 auto;
	padding: 0pt;
	min-width: 700px;
}
body a:link, body a:active, body a:visited {
	color: #0000CC;
}
body a:hover {
	color: #435370;
}
form {
	margin: 0px;
}
p {
	margin: 0 0 10px 0;
}
pre {
   border: 0px solid #435370;
   background: #F0F0F0;
   font-family: courier new, courier;
   white-space: pre;
   line-height: 10pt;
   font-size: 10pt;
}
.pgtitle {
	font-size: 18px;
	color: #777777;
	font-weight: bold;
}
.vncellbg, .vncell, .vncellreq, .vncellt {
	background-color: #DDDDDD;
	padding-right: 20px;
	padding-left: 8px;
}
.vncell, .vncellreq, .vncellt {
	border-bottom: 1px solid #999999;
}
.vncellreq, .vncellt {
	font-weight: bold;
}
.vncellt {
	padding-top: 4px;
	padding-bottom: 4px;
}
.formfld {
}
.formfldalias {
	background-color: #e7edf9;
}
.formpre {
	font-family: Courier New, Courier, monospaced;
	font-size: 10px;
}
.formbtn {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.formbtns {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.red {
	color: #CC0000;
}
.gray {
	color: #A0A0A0;
}
.vexpl {
	font-size: 11px;
}
a {
	text-decoration: none;
}
.tblnk {
	color: #FFFFFF;
	text-decoration: none;
}
.vtable {
	border-bottom: 1px solid #999999;
}
.listr, .listrc, .listrd, .listrcd {
	background-color: #FFFFFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listrc, .listrcd {
	text-align: center;
}
.listrpad {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-right: 16px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.listn, .listbg {
	font-size: 11px;
	padding-right: 16px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listbg {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color: #D9DEE8;
}
.listhdr, .listhdrr, .listhdrc {
	background-color: #BBBBBB;
	padding-right: 16px;
	padding-left: 6px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.listhdrr, .listhdrc {
	border-right: 1px solid #999999;
	vertical-align: top;
}
.listhdrc {
	text-align: center;
}
.listhdr a {
	color: #000000;
}
.listhdrr a {
	color: #000000;
}
.listlrns, .listlr, .listlrd {
	background-color: #FFFFFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listlr, .listlrd {
	padding-right: 6px;
	padding-left: 6px;
}
.listlrd, .listrd, .listrcd {
	background-color: #E0E0E0;
}
.list {
	font-size: 11px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.listt {
	font-size: 11px;
	padding-top: 5px;
}
.listhdrrns {
	background-color: #BBBBBB;
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 6px;
	font-weight: bold;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
}
.listbgns {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	background-color: #D9DEE8;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.listtopic {
	font-size: 11px;
	background-color: #435370;
	padding-right: 16px;
	padding-left: 6px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.listcontent {
	padding: 0;
	border: 0;
	background-color: #EEEEEE;
}
.optsect_t {
	background-color: #435370;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.optsect_s {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.tabcont {
	background-color: #EEEEEE;
	padding: 12px;
	border: 1px solid #DEDBD1;
}
.label {
	font-family: tahoma, verdana, arial, helvetica;
	font-size: 11px;
	font-weight: bold;
}
div#infobox table tr td.icon {
	background-color: #687BA4;
	width: 36px;
}
div#infobox table tr td.message {
	background-color: #D9DEE8;
	padding-left: 8px
}
div#errorbox table tr td.icon, div#warningbox table tr td.icon {
	background-color: #A12A2A;
	width: 36px;
}
div#errorbox table tr td.message, div#warningbox table tr td.message {
	color: #CC0000;
	background-color: #FFD9D1;
	padding-left: 8px;
	padding-top: 6px;
	font-weight: bold;
}
div#header {
	height: 65px;
	background: #435370 url("header_bg.gif") center right no-repeat;
}
div#header .logo a {
	margin-left: 15px;
}
div#header .hostname {
	font-size: 11px;
	color: #FFFFFF;
	text-align: right;
	margin-top: -18px;
	margin-right: 25px;
}
div#footer {
	margin: 5px 0px 20px 0px;
	text-align: center;
}
div#footer span {
	font-size: 11px;
	color: #777777;
}
div#footer span a:link, div#footer span a:active, div#footer span a:visited {
	color: #777777;
}
div#footer span a:hover {
	color: #999999;
}
div#headernavbar {
	width: 100%;
	background: black url(/navbar_default.gif) center center repeat-x;
}
div#content {
	background: #FFFFFF url(gradient.gif) repeat-x scroll left top;
	border: 1px solid #DEDBD1;
	margin: 20px 25px 10px 25px;
	padding: 0 15px 15px 15px;
}
span.corners-top {
	background-image: url("cornerBottomLeft.png");
	background-position: 0% 0%;
}
span.corners-bottom {
	padding: 0;
	background-image: url("cornerBottomLeft.png");
	background-position: 0% 100%;
	clear: both;
}
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 8px;
	line-height: 1px;
}
span.corners-top span {
	background-image: url("cornerBottomRight.png");
	background-position: 100% 0%;
}
span.corners-bottom span {
	background-image: url("cornerBottomRight.png");
	background-position: 100% 100%;
}
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 8px;
	line-height: 1px;
}
div#submit {
	margin: 7px 0 7px 0;
}
