# To create this file use:
# mtree -c -d -i -n -k uname,gname,mode,nochange -p /var > BSD.var.dist
#

/set type=dir uname=root gname=wheel mode=0755
.              
    ..
    cron           
        tabs           
        ..
    ..
    db             
    ..
    empty           mode=0555
    ..
    etc            
        iscsi          
        ..
        private        
        ..
        ssh            
        ..
        ssl            
            private        
            ..
        ..
    ..
    log            
        samba          
        ..
    ..
    mount          
    ..
    run            
    ..
    spool          
        lock           
        ..
    ..
    tmp             mode=01777
    ..
..
